<!DOCTYPE html>
<html>
  <head>
    <title>SnippetBox</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "google-code-prettify/prettify", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">SnippetBox</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <a href="/">New Snippet</a>
              </li>
              <li>
                <%= link_to 'Snippets', snippets_path %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="body" class="container">
      <% if flash[:notice] or flash[:alert] %>
        <p class="alert alert-info"><%= notice %></p>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
